

.navlogo {
    margin-top: 10px;
    
    padding-left: 20px;
    margin-bottom: 5px;
    
    font-weight: bold;
    
    
}


.wikinotes {
    font-size: 30px;
    padding-top: 20px;
    color: white;
    text-decoration: none;
}

